.guardian {
    background-image: url("/ressources/guardian.png");
}
.skolex {
    background-image: url("/ressources/skolex.png");
}
.xymox {
    background-image: url("/ressources/xymox.png");
}
.dausegne {
    background-image: url("/ressources/dausegne.png");
}
.halondrus {
    background-image: url("/ressources/halondrus.png");
}
.pantheons {
    background-image: url("/ressources/pantheons.png");
}
.lihuvim {
    background-image: url("/ressources/lihuvim.png");
}
.anduin {
    background-image: url("/ressources/anduin.png");
}
.lords {
    background-image: url("/ressources/lords.png");
}
.rygelon {
    background-image: url("/ressources/rygelon.png");
}
.jailer {
    background-image: url("/ressources/jailer.png");
}