.guardian {
    background-image: url("guardian.png");
}
.skolex {
    background-image: url("skolex.png");
}
.xymox {
    background-image: url("xymox.png");
}
.dausegne {
    background-image: url("dausegne.png");
}
.halondrus {
    background-image: url("halondrus.png");
}
.pantheons {
    background-image: url("pantheons.png");
}
.lihuvim {
    background-image: url("lihuvim.png");
}
.anduin {
    background-image: url("anduin.png");
}
.lords {
    background-image: url("lords.png");
}
.rygelon {
    background-image: url("rygelon.png");
}
.jailer {
    background-image: url("jailer.png");
}