@media only screen and (max-width:56.25em) { 
	.middle-text {
        flex-direction: column !important;
    }
    .container-fluid {
        padding: 0 !important;

    }
    .navbar-brand {
        margin-left: 10px !important;
    }
}