html, body
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px
    background-color: black
    color: rgba(220, 220, 220, 1)
    font-family: ocr-b-std, monospace
    font-weight: 400
    font-style: normal
    
.roster-roles
    padding: 0px

.under-construct
    position: absolute
    z-index: 999 !important
    width: 100%
    height: 100%
    background-color: black
    display: block
    transition: 0.4s
    &-txt
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%)
        font-size: 14px
        color: darkgray
        animation: fadeOut 3s infinite
.enter
    position: absolute
    top: 75%
    left: 50%
    transform: translate(-50%)
    color: rgb(200, 200, 200)
    font-size: 14px
    cursor: pointer
header
    padding: 100px
    display: flex
    flex-direction: row
    align-items: center
.emplacement-logo
    width: 100%
.logo
    background-image: url("logo3.png")
    background-size: cover
    background-repeat: no-repeat
    width: 100px
    height: 21px
nav
    width: 100%
    display: flex
    justify-content: flex-end
    font-size: 13px
ul
    list-style-type: none
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-end

li
    padding-left: 25px
    padding-right: 25px
    transition: 0.2s
    color: #787878

.nmy-recrute
    padding: 20px
    font-size: 46px
    text-align: center
    margin-bottom: 40px

.mid-box
    width: 50%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
    font-size: 14px
.progress-box
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    flex-direction: column

.container
    position: absolute
    width: auto
    bottom: 15%
    left: 50%
    transform: translate(-50%)
    visibility: hidden
    opacity: 0
    transition: 0.3s
.modes-box
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center

.modes
    padding-left: 25px
    padding-right: 25px
    color: rgba(120, 120, 120, 1)
    font-size: 14px
    transition: 0.2s

.progress-line
    height: 15px
    width: 97.7%
    margin-top: 11px
    margin-bottom: 11px
    display: flex
    justify-content: flex-start
    align-items: flex-start
    border-top: 1px solid rgba(220, 220, 220, 1)
    border-right: 1px solid rgba(220, 220, 220, 1)
    background-color: black
.active
    color: rgba(220, 220, 220, 1)

.absolute-line
    width: 1px
    height: 16px
    background-color: rgba(220, 220, 220, 1)
    position: absolute
    right: 26px
    top: 26px

.pull
    display: flex
    justify-content: flex-end
    text-align: center

.bosses-ul
    font-size: 12px
    padding-left: 0px

.pl-0
    padding-left: 0px

.pr-0
    padding-right: 0px

.hover-effect:hover
    color: white
    transition: 0.2s
    cursor: pointer

.bosses-li
    text-align: center

.bosses-li
    text-align: center
    display: flex
    flex-direction: column


#killed
    font-size: 10px
    color: white
    display: none
    padding-top: 4px
    position: absolute
    top: 70px

#progression, 
    position: absolute
    top: 70px

#mmProgression
    position: absolute
    top: 70px
    display: none

.actual-progress
    font-size: 10px
    margin-left: 20px
    text-align: center

@keyframes fadeOut
    0%
        opacity: 1
    25%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 1
.no-flex-end
    display: flex
    justify-content: normal

.roster-ul
    display: flex
    flex-direction: column
    color: white
    font-size: 14px
    padding: 0px

.roster-li
    padding: 5px
    padding-left: 0px
.roster-box
    flex-direction: row
    display: flex


.news-box
    display: flex
    justify-content: center
    width: 50%
    height: 40%
    padding: 100px
    flex-direction: column
.title
    font-size: 13px
    color: dimgray
    margin: 20px

.title-box
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 40px
    padding-top: 20px

.flex-direction-row
    display: flex
    flex-direction: row


.text-box
    display: flex
    flex-direction: column
    text-transform: uppercase
    padding: 40px
    border-left: 1px dotted rgba(35, 35, 35, 1)
    margin: 20px
    width: 100%
    white-space: break-spaces
    
.no-padding
    padding-left: 0px


.btn-discord
    width: 150px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    margin-top: 40px
    background-color: dimgray
    &:hover
        background-color: gray
        cursor: pointer

.no-border
    border: none

.paragraphe
    text-transform: none
    font-size: 12px

#news
    transition: 0.3s

.cleared
    color: white
    position: absolute
    left: 50%
    transform: translate(-50%)
    font-size: 13px
    margin-top: 20px
    visibility: hidden
    opacity: 0
