@media screen and (min-width: 900px) {
    .bars {
        display: none !important;
    }
  }

  @media screen and (max-width: 900px) {
      header {
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center !important;
          width: 100% !important;
      }
      .menu {
          width: 100% !important;
      }
      .menu-ol {
          width: 90% !important;
          padding: 0px !important;
      }
      .socials {
          top: unset !important;
          right: unset !important;
          width: 100% !important ;
          justify-content: center !important;
          background-color: rgba(139, 96, 96, 0.212);
          height: unset !important;
          box-shadow: 0 0 25px black !important;
      }
      .socials-ol {
          flex-direction: row !important;
          width: 80% !important;
        
      }
      .logo-box {
          margin-left: 0px !important;
          margin-top: 20px !important;
          margin-bottom: 20px !important;

      }

  }



html, body {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    min-width: 390px !important;
}

body {
    background-image: url("ressources/bg.png");
    background-repeat: no-repeat;
    margin: 0px;
}

header {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: row;
}

.logo-box {
    background-image: url("ressources/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 230px;
    margin-left: 40px;
    background-position: center;
}

.emplacement-logo {
    width: 55%;
    height: 155px;
}

.menu {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: center;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    letter-spacing: 0.7px;
    color: white;
}

.menu-ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    padding-left: 0px;
    padding-right: 40px;
    align-items: center;
    flex-wrap: nowrap;
}

.menu-li {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.menu-li:hover {
    color: rgb(190, 30, 45);
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid rgb(190, 30, 45);
}

.bars {
    background-image: url("ressources/bars.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;

}

.menu-drop-down {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    color: unset !important;
}

a:visited {
    text-decoration: none;
    color: unset !important;
}

.membres-teams {
    position: absolute;
    left: 80px;
    display: flex;
    flex-direction: column;
    top: 45px;
    height: 0px;
    opacity: 0;
    transition: 0.4s;
}

.hover:hover {
    cursor: pointer;
    color: rgb(190, 30, 45);
}

.bars:hover {
    border-bottom: none !important;
    background-image: url("ressources/bars-hover.png");
}

.dropdown-icon {
    background-image: url("ressources/caret.png");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right;
}

.dropdown-icon:hover {
    background-image: url("ressources/caret-hover.png");
}

.msg-accueil {
    color: white;
    margin-bottom: 15px;
}

.actif {
    color: green;
}

.msg-recrutement {
    color: rgb(150, 150, 150);
    font-size: 25px;
}

.msg-serveur {
    color: rgb(150, 150, 200);
    font-size: 20px;
}

.msg {
    position: absolute;
    top: 35%;
    left: 8%;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 42px;
}

.socials {
    color: white;
    position: absolute;
    top: 20%;
    right: 0%;
    height: 250px;
    padding: 0;
    padding-right: 20px;
    display: flex;
    width: 36px;
}

.socials-ol {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 0;

}

.socials-li {
    height: 16px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.socials-li:hover {
    transition: 0.4s;
}

.steam {
    background-image: url("ressources/steam.png");
}
.steam:hover {
    background-image: url("ressources/steam-hover.png");

}
.twitter {
    background-image: url("ressources/twitter.png");
}

.twitter:hover {
    background-image: url("ressources/twitter-hover.png");
}

.youtube {
    background-image: url("ressources/youtube.png");
}

.widgetHeader {
    background-color: red !important;
}

.discord:hover {
    text-decoration: none !important;
    border-bottom: none !important;
}

.youtube:hover {
    background-image: url("ressources/youtube-hover.png");
}
.instagram {
    background-image: url("ressources/instagram.png");
}

.instagram:hover {
    background-image: url("ressources/instagram-hover.png");
}

.facebook {
    background-image: url("ressources/facebook.png");
}

.facebook:hover {
    background-image: url("ressources/facebook-hover.png");
}

.twitch {
    background-image: url("ressources/twitch.png");
}

.twitch:hover {
    background-image: url("ressources/twitch-hover.png");
}

.page-laguilde {
    width: 80%;
    height: 80%;
    background-color: black;
    transform: translate(-100%);
    transition: 0.4s;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.titre-page-laguilde {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.7px;
}

.discord-div {
    position: absolute;
    right: 10%;
    top: 25%;
    opacity: 0;
    height: 0px;
    transition: 0.4s;
}

.discord-close {
    height: 29px;
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 103%;
    background-image: url("ressources/close.png");
    background-size: contain;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.582);
}

.discord-close:hover {
    background-image: url("ressources/close-hover.png");
    cursor: pointer;
}

